
  body{
  font: 1em Courier New;
  margin: 0;
}
.iframeWindow {
   font: 1em Courier New;
    position: absolute;
    width: 99.9%;
    height: 92%;
    border: 0;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
#searchButton {
  font: 1em Courier New;
  padding: 12px 20px;
  margin: 8px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font: 1em Courier New;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
#searchButton:hover{
  background: rgba(255, 0, 0, 0.226);
}
#hg {
  font: 1em Courier New;
  padding: 12px 20px;
  margin: 8px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font: 1em Courier New;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
#hg:hover{
  background: rgba(255, 0, 0, 0.226);
}
#hx {
  font: 1em Courier New;
  padding: 12px 20px;
  margin: 8px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font: 1em Courier New;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
#hx:hover{
  background: rgba(255, 0, 0, 0.226);
}
#h {
  font: 1em Courier New;
  padding: 12px 20px;
  margin: 8px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font: 1em Courier New;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
#h:hover{
  background: rgba(255, 0, 0, 0.226);
}
#hi {
   font: 1em Courier New;
    overflow: hidden;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
#urlInput{
  font: 1em Courier New;
  padding: 12px 20px;
  margin: 8px 0;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: center;
}
#urlInput:hover{
  background: rgba(255, 0, 0, 0.226);
}
#switcher{
   font: 1em Courier New;
   padding: 12px 20px;
   margin: 8px 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
#switcher:hover{
  background: rgba(255, 0, 0, 0.226);
}
.option{
  font: 1em Courier New;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: rgb(255, 0, 0);
}
        /* Light theme styles */
        body.light-theme {
          background-color: #ffffff;
      }

      /* Dark theme styles */
      body.dark-theme {
          background-color: #333333;
      }
      #pswd{
        font: 1em Courier New;
        padding: 12px 20px;
        margin: 8px 0;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          border-radius: 20px;
          border:1px solid rgba(255, 255, 255, 0.18);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          text-align: center;
          position: fixed;
          top: 400px;
          left: 620px;
      }
      #pswd:hover{
        background: rgba(255, 0, 0, 0.226);;
      }
      #s{
        font: 1em Courier New;
        padding: 12px 20px;
        margin: 8px 0;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        font: 1em Courier New;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          border-radius: 20px;
          border:1px solid rgba(255, 255, 255, 0.18);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          position: fixed;
          top: 400px;
          left: 870px;
      }
      #s:hover{
        background: rgba(255, 0, 0, 0.226);
      }
      #i{
        font: 1em Courier New;
        padding: 10px 10px;
        margin: 0px 0px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          border-radius: 20px;
          border:1px solid rgba(255, 255, 255, 0.18);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          text-align: center;
          position: fixed;
          top: 257px;
          left: 720px;
          border-radius: 50%;
      }
      #p{
        font: 1em Courier New;
        padding: 2px 20px;
        margin: 8px 0;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          border-radius: 20px;
          border:1px solid rgba(255, 255, 255, 0.18);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          text-align: center;
          position: fixed;
          top: 372.5px;
          left: 700px;
          border-radius: 200px;
      }
      #n{
        font: 1em Courier New;
        color: red;
        padding: 2px 20px;
        margin: 8px 0;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          border-radius: 20px;
          border:1px solid rgba(255, 255, 255, 0.18);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          text-align: center;
          position: fixed;
          top: 447px;
          left: 646px;
          border-radius: 200px;
      }
      #z{
        border-radius: 100px;
      }
      #as{
        border-radius: 50%;
        float: right;
      }
      #roadmap{
        font: 1em Courier New;
        overflow: hidden;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border:1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        height: 300px;
        width: 320px;
        position: fixed;
        bottom: 1px;
        right: 1px;
      }
      #ri{
        font: 1em Courier New;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.18);
      }
      #green{
        font: 1em Courier New;
        color: #39FF14;
      }
      #red{
        font: 1em Courier New;
        color: #FF3131;
      }
      #min {
        font: 1em Courier New;
        padding: 1px 1px;
        margin: 8px 0;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        font: 1em Courier New;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          border-radius: 20px;
          border:1px solid rgba(255, 255, 255, 0.18);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          position: fixed;
          right: 5px;
      }
      #min:hover{
        background: rgba(255, 0, 0, 0.226);
      }
      #eu {
        font: 1em Courier New;
        padding: 12px 20px;
        margin: 8px 0;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        font: 1em Courier New;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          border-radius: 20px;
          border:1px solid rgba(255, 255, 255, 0.18);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          position: fixed;
          right: 1px;
          bottom: 1px;
      }
      #eu:hover{
        background: rgba(255, 0, 0, 0.226);
      }
